body,html {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  text-align:center;
  background-color:black;
  background-position:50% 0;
  background-repeat:no-repeat;
  background-image:url('../images/logo.jpg');  }
body,html,table {
  font-size:11px;
  line-height:150%;
  font-family:Tahoma,sans-serif;
  color: #fff; }

h1,h2,h3,h4,h5,h6 {
  text-align:left;
  margin: 0;
  padding: 5px 0 5px 0; 
  font-family:"Adobe Ghotic STD",sans-serif;
  clear:both; }
h1 {
  font-size:30px;
  color:#fff; }
h2 {
  font-size:30px; }
h3 {
  font-size:24px; }
h4 {
  font-size:16px; }
h5 {
  font-size:14px; }
h6 {
  font-size:12px; }
p {
  margin: 0;
  padding: 5px 0 5px 0; }
div {
  display:block;
  margin: 0;
  padding: 0; 
  text-align:left; }
a {
  color:#eee;
  text-decoration: underline; }
a span {
  cursor:pointer; }
a:hover {
  color:#d6f1f5;
  text-decoration:none; }
table {
  border-collapse:separate;
  border-spacing:2px;
  margin:10px;
  text-align:left; }
th {
  font-weight:bold;
  background-color:#274657;
  padding: 10px 20px; }
td {
  background-color:#1f3b47;
  padding: 10px 20px; }
th.first {
  background-color:#2e5264; }
td.first {
  background-color:#274657; }
ul {
  margin:0;
  padding: 10px 10px 10px 30px; 
  list-style-type:none; }
  
form {
  float:none;
  margin:0;
  padding-left: 10px; }  
.external {
  width:939px;
  height:100%;
  margin: 0 auto 0 auto;
  background-repeat:no-repeat;
  background-position: 50% 0;
}
.clear {
  clear:both; }

#logo,#menu,#main,#footer {
  float:left;
  clear:both;
  width:939px; }
#logo {
  position:relative;
  height:130px; }
#logo h1 {
  display:block;
  position: absolute;
  bottom:5px;
  right:0;
  padding: 0;
  margin:0;
  width:700px;
  line-height:100%;
  font-family:"Informal Roman"";
  font-size:60px;
  text-align:right; }
#logo h1 a {
  color:#fff;
  text-decoration: none; }
#logo h1 a:hover {
  color:#fff;
  text-decoration: none; }
#logo h1 a span {
  font-family:Brush Script MT;
  font-style: italic;
  font-size:20px; }

#menu {
  margin: 0 0 2px 0;
  background-color:#23485e; }
#menu #menu_begin,#menu #menu_end {
  float:left;
  clear:none;
  height:50px;
  width:5px;
  background-position: 0 0;
  background-repeat:no-repeat;
  background-image:url('../images/menu_begin.gif'); }
#menu #menu_end {
  float:right;
  background-position: 100% 0;
  background-image:url('../images/menu_end.gif'); }
#menu ul {
  display: block;
  float:left;
  clear:none;
  margin: 0;
  padding: 10px 0 0 0; 
  width: 900px;
  list-style:none;
  font-weight:bold;
  font-size:13px; }
#menu ul li {
  display: block;
  float:left;
  clear:none;
  margin: 0;
  padding: 0 20px 0 20px;
  height:30px;
  line-height:30px;
  background-position: 100% 50%; 
  background-repeat: repeat-y;
  background-image:url('../images/border_dot.gif'); }
#menu ul li a {
  text-decoration: none; }
#menu ul li a:hover {
  text-decoration: underline; }
#menu0{
float: left;
padding-left: 15px;
}
#main {
  margin: 2px 0 2px 0; }
#main .sidebar {
  float:left;
  clear:none; 
  width:196px; 
  padding: 0;
  background-repeat:repeat-y;
  background-position: 0 0;
  background-image:url('../images/sidebar_bkg.gif'); }
#main .sidebar.right {
  float:right; }
#main .sidebar .sidebar_top {
  float:left;
  clear:both;
  width:196px;
  height:10px;
  background-repeat:no-repeat;
  background-position: 0 0;
  background-image:url('../images/sidebar_top.gif'); }
#main .sidebar .sidebar_bottom {
  float:left;
  clear:both; 
  width:196px;
  height:10px;
  background-repeat:no-repeat;
  background-position: 0 100%;
  background-image:url('../images/sidebar_bottom.gif'); }
#main .sidebar h3 {
  display: block;
  float: left;
  clear: both;
  margin: 0;
  padding: 5px 0 15px 0;
  width:196px;
  text-align:center;
  font-size:16px; 
  background-repeat:no-repeat;
  background-position: 12px 0;
  background-image:url('../images/sidebar_header.gif'); }
#main .sidebar ul {
  float:inherit;
  clear:both;
  margin: 0;
  padding-left:12px;
  width:176px;
  list-style-position:inside; 
  }
#main .sidebar ul li {
  padding: 0 0px; 
  padding-right: 5px;
  }
#main .sidebar div.form{
  position: relative;
  left:10px;
  clear:both;
  width: 176px;
  padding: 10px 0;
  background-repeat:repeat-x;
  background-position: 50% 50%;
  background-image:url('../images/border_dot.gif'); } 
#main .sidebar blockquote {
  display:block;
  position: relative;
  left:12px;
  padding: 0; 
  margin: 0; 
  float: left;
  clear: none;
  width: 172px; 
  background-color:#448db7;
  background-repeat:no-repeat;
  background-position: 0 0;
  background-image:url('../images/sidebar_quot_top.gif'); }

#main .content {
  float:left;
  position: relative;
  left:2px;
  clear:none;
  width:740px; 
  margin:0;
  background-repeat:repeat-y;
  background-position: 0 0;
  background-image:url('../images/content_bkg.gif'); }
#main .content .content_top {
  float:left;
  clear:both;
  width:740px;
  padding-bottom:15px;
  padding-top:10px;
  height:30px;
  background-repeat:no-repeat;
  background-position: 0 0;
  background-image:url('../images/content_top.gif'); }
#main .content .content_bottom {
  float:left;
  clear:both;
  width:740px;
  height:10px;
  background-repeat:no-repeat;
  background-position: 0 100%;
  background-image:url('../images/content_bottom.gif'); }

#main p,#main h1,#main h2,#main h3,#main h4,#main h5,#main h6 {
  padding-left: 20px; 
  padding-right: 20px;}
#main fieldset {
  border: 0;
  padding: 5px 20px;
  margin: 0; }
#main fieldset h4 {
  display: block;
  float:left;
  clear:both;
  padding: 10px 0 10px 60px;
  margin: 0;
  font-size:16px;
  color:#fff;
  background-repeat:no-repeat;
  background-position: 0px 50%;
  background-image:url('../images/kontakt_koperta.gif'); }
#main fieldset p {
  display:block;
  float:left;
  clear:both;
  width:146px;
  margin: 5px 0;
  padding: 0; }
#main fieldset p.form_input,#main fieldset p.form_textarea {
  padding: 3px ;
  background-color: #d6f1f5; }
#main fieldset input,#main fieldset textarea {
  font-family:Tahoma,sans-serif;
  font-size:12px;
  background-color: #d6f1f5;
  padding:0;
  border: 0;
  vertical-align:middle;
  width: 146px; }
#main fieldset .form_checkbox input {
  width: auto;
  padding:2px;
  background-color:transparent; }
#main fieldset .form_submit {
  text-align:right; }
#main fieldset .form_submit input {
  width: auto;
  padding: 7px 14px;
  font-weight:bold;
  color: #000; }

#main .content_diff {
  display: block;
  font-size:12px;
  position: relative;
  left:10px;
  float:left;
  clear:both;
  padding: 10px 0;
  padding-left:0px;
  margin: 5px 0 ;
  width: 722px;
  color: #d0eff3;
  background-color:#12222b; }
#main .content_diff p,#main .content_diff h1,#main .content_diff h2,#main .content_diff h3,#main .content_diff h4,#main .content_diff h5,#main .content_diff h6 {
  padding-left:10px;
  padding-right:10px; 
  color: #d6f1f5; }

#footer {
  margin: 2px 0 20px 0;
  background-color: #23485e ;
  background-repeat:no-repeat; 
  background-position: 0 0;
  background-image:url('../images/footer_top.gif'); }
#footer ul {
  display: block;
  float: left;
  clear: left;
  margin:0;
  padding: 30px 0 30px 0;
  width:939px;
  text-align: center;
  list-style:none;
  font-weight:bold;
  font-size:13px;   
  background-repeat:no-repeat; 
  background-position: 0 100%;
  background-image:url('../images/footer_bottom.gif'); }
  
  
  
#footer ul li {
  display: inline;
  padding: 0 20px 0 20px; }
#footer ul li a {
  text-decoration: none; }
#footer ul li a:hover {
  text-decoration: underline; }
 #wrapper {	
	width: 220px;
	margin: 100px auto;
	font-size: 1.0em;
}
  
  .error {
  color:red;
  font-weight:bold;
  font-size:13px; 
  margin-top:10px; 
  margin-left:150px;}
  


.rejestracja{
text-align:left;
margin:0px;
padding:10px;
}
.kontakt{
text-align:center;
margin:0px;
padding:0px;
}
.test_main{
text-align:left;
margin:0px;
padding:0px;
padding-left: 10px;
	
}
.test_description{
text-align:left;
margin:0px;
padding:0px;
padding-left:0px;
}
.pytanie{
text-align:left;
margin:10px;
padding:10px;
padding-left: 0px;
	
}
.menujquery {
	width: auto;
	height: auto;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}
.menujquery > li > a { 
	background-color: #616975;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
	background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
	border-bottom: 1px solid #33373d;
	-webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
	-moz-box-shadow: inset 0px 1px 0px 0px #878e98;
	box-shadow: inset 0px 1px 0px 0px #878e98;
	width: 100%;
	height: 2.75em;
	line-height: 2.75em;
	text-indent: 0.75em;
	display: block;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}
.menujquery ul li a {
	background: #fff;
	border-bottom: 1px solid #efeff0;
	width: 100%;
	height: 2.75em;
	line-height: 2.75em;
	text-indent: 2.75em;
	display: block;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.923em;
	font-weight: 400;
	color: #878d95;
}
.menujquery ul li:last-child a {
	border-bottom: 1px solid #33373d;
}
.menujquery > li > a:hover, .menujquery > li > a.active {
	background-color: #35afe3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(69, 199, 235)),to(rgb(38, 152, 219)));
	background-image: -webkit-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: -moz-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: -o-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: -ms-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
	border-bottom: 1px solid #103c56;
	-webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
	-moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
	box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}
.menujquery > li > a.active {
	border-bottom: 1px solid #1a638f;
}
.menujquery > li > a:before {
	content: '';
	background-repeat: no-repeat;
	font-size: 36px;
	height: 1em;
  	width: 1em;
	position: absolute;
  	left: 0;
	top: 50%;
	margin: -.5em 0 0 0;
}
.item1 > a:before {
	background-position: 0 0;
	text-align: left;
}
.item2 > a:before {
	background-position: -38px 0;
}
.item3 > a:before {
	background-position: 0 -38px;
}
.item4 > a:before {
	background-position: -38px -38px;
}
.item5 > a:before {
	background-position: -76px 0;
}
.menujquery > li > a span {
	content: '';
	font-size: 0.857em; 
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%; 
	background: #23485e;
	line-height: 1em;
	height: 1em;
	padding: .4em .6em;
	margin: -.8em 0 0 0; 
	color: #fff;
	text-indent: 0;
	text-align: left;
	-webkit-border-radius: .769em;
	-moz-border-radius: .769em;
	border-radius: .769em;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
	font-weight: 500;
}
.menujquery > li > a:hover span, .menujquery > li a.active span {
	background: #2173a1;
}
.menujquery > li > ul li a:before{
	content: '▶';
	font-size: 8px;
	color: #bcbcbf;
	position: absolute;
	width: 1em;
	height: 1em;
	top: 0;
	left: -2.7em;
}

.menujquery > li > ul li:hover a,
.menujquery > li > ul li:hover a span,
.menujquery > li > ul li:hover a:before {
	color: #32373D;
}


.menujquery ul > li > a span {
	font-size: 0.857em; 
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%; /
	background-color: #000000;
	border: 1px solid #000000;
	line-height: 1em;
	height: 1em;
	padding: .4em .7em;
	margin: -.9em 0 0 0; 
	color: #000000;
	text-indent: 0;
	text-align: left;
	-webkit-border-radius: .769em;
	-moz-border-radius: 769em;
	border-radius: 769em;
	text-shadow: 0px 0px 0px rgba(255,255,255,.01));
}


button.g-button, input.g-button[type="submit"] {
    height: 29px;
    line-height: 29px;
    margin: 0;
    vertical-align: bottom;
}

.przycisk {
    background-color: #616975;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
	background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
    border: 1px solid #000000;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.218s ease 0s;
    -moz-user-select: none;
	border-radius: 2px 2px 2px 2px;
    cursor: default;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    min-width: 46px;
    padding: 0 8px;
    text-align: center;
}
.przycisk:hover{
	background-color: black;
}
.obok {
	padding: 5px 5px 2px 5px;
	display: inline-table;
}
.captcha{
	padding: 0px 5px 0px 15px;
}
.stopka{
	display: block;
	text-align: center;
	padding-bottom: 10px;
}
.tableheader{
	font-size: 13px;
	font-weight: bold;
}